body {
  height: 100vh;
  min-width: 420px;
}

.profile-img {
  bottom: -2rem;
  padding-left: 0;
}

@media (min-width: 768px) {
  .profile-img {
    /* padding: 4rem; */
  }
}
@media (max-width: 550px) {
  .uname {
    top: -50px;
    position: absolute;
    right: 60px;
  }
}

.users-name {
  text-transform: capitalize;
}

.users {
  width: 500px;
}

@media (max-width: 768px) {
  .profile-stats {
    flex-direction: column;
    align-items: center;
    transform: translateY(-25px);
  }
  .profile-stats > div {
    padding-top: 10px;
  }
}

button.follow-btn {
  width: 6rem;
}

button.follow-btn:hover a {
  display: none;
}
button.follow-btn a.unfollow {
  display: none;
}
button.follow-btn:hover a.unfollow {
  display: block;
}

textarea {
  min-height: 100px;
}

.sidebar img {
  top: -1rem;
  /* max-height: 100vh; */
}

.sidebar {
  width: 260px;
}

main {
  width: 100%;
  margin: auto;
}

@media (min-width: 768px) {
  main {
    width: 800px;
    margin: auto;
  }
}
/* button.follow-btn:hover::before span {
  content: "Unfollow";
} */

/* button.follow-btn ::before {
  content: "Unfollow";
} */
