body {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  height: 100vh;
}

/* .signup {
  display: flex;
  flex-direction: column;
}

.signup div {
  display: flex;
  flex-direction: column;
} */

.profile-img {
  bottom: -2rem;
  padding-left: 0;
}

@media (min-width: 768px) {
  .profile-img {
    padding: 4rem;
  }
}

button.follow-btn {
  width: 6rem;
}

button.follow-btn:hover a {
  display: none;
}
button.follow-btn a.unfollow {
  display: none;
}
button.follow-btn:hover a.unfollow {
  display: block;
}

textarea {
  min-height: 100px;
}

.sidebar img {
  top: -1rem;
  /* max-height: 100vh; */
}

.sidebar {
  width: 260px;
}

main {
  width: 100%;
  margin: auto;
}

@media (min-width: 768px) {
  main {
    width: 800px;
    margin: auto;
  }
}
/* button.follow-btn:hover::before span {
  content: "Unfollow";
} */

/* button.follow-btn ::before {
  content: "Unfollow";
} */
