{{template "header" .LoggedInUserId }}

<div
  class="users mx-auto flex flex-col px-6 border border-solid border-gray-400 rounded h-full m-10 p-10"
>
  {{range .Users}} {{ $path := printf "%s/%d" "/user" .ID }}
  <a
    href="{{$path}}"
    class="flex cursor-pointer items-center p-4 border-b-2 hover:bg-gray-100"
  >
    <div class="flex flex-col">
      <img
        class="w-16 h-16 rounded-full mr-4"
        src="/public/img/profile_pic.svg"
        alt="Avatar"
      />
    </div>
    <div
      class="text-3xl leading-normal users-name ml-20 text-indigo-600 hover:text-indigo-700"
    >
      {{.UserName}}
    </div>
  </a>
  {{end}}
</div>
{{template "footer" }}
